/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style:none ;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color:#C56E33;
  --second-color:#012f2d;
}

section{
  padding:50px 10%;
}

*::selection{
  color:#fff;
  background: var(--main-color);
}

img{
  width:100%;
}

header{
  position: fixed;
  width: 100%;
  top:0;
  z-index:1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#fff ;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;

}

.logo{
  display: flex;
  align-items:center ;
}

.logo img{
  width: 150px;
}

.navbar{
  align-items: center;
  display: flex;
  margin: 8px;

}

.navbar a{
  font-size: 1rem;
  padding: 8px 15px;
  color:var(--second-color) ;
  font-weight:600;
  text-transform:uppercase;
  text-decoration: none;
}

.navbar a:hover{
  color:var(--main-color)
}

#menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

.home{
  scroll-margin-top: 80px;
  border: 1px solid var(--main-color);
  width: 100%;
  min-height:70vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ebdbc8;
  gap:1rem;
}

.home-line{
  margin: 100px 200px 100px 200px;
  padding: 20px;
  border: 2px solid var(--second-color);
  width: 80%;
  min-height:70vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ebdbc8;
  gap:1rem;
}

.home-text{
  flex: 1 1 17rem;
}

.home-img{
  flex: 1 1 17rem ;
}


.home-text span{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight:600;
  color: var(--second-color);
}

.home-text h1{
  font-size: 2rem;
  color: var(--main-color);
  font-weight: bolder;
}

.home-text h2{
  font-size:1.8rem;
  font-weight: 600;
  color:var(--second-color);
  text-transform: capitalize;
  margin: 0.5rem 0 1.4rem;
}

.btn{
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight:500 ;  
}

.btn:hover{
  color: #fff;
  background: var(--second-color);
}

.heading{
  text-align: center;
  text-transform: uppercase;
}

.heading span{
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}

.heading h1{
  font-size: 2rem;
  color:var(--main-color)
}

.order-container {
  display: flex;
  overflow-x: auto; /* 允許水平滾動 */
  gap: 26px; /* 卡片之間的間距 */
  margin-top: 5rem; /* 容器上方的間距 */
  scroll-snap-type: x mandatory; /* 確保卡片在滾動時對齊 */
}

.box {
  flex: 0 0 28%; /* 每個卡片的最小寬度設為300px，可以調整這個值來改變卡片寬度 */
  background: var(--main-color); /* 卡片背景色 */
  padding: 20px; /* 卡片內部間距 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 垂直居中 */
  text-align: center; /* 文字居中 */
  border-radius: 0.5rem; /* 圓角 */
  scroll-snap-align: start; /* 滾動時對齊到卡片開始位置 */
}

.box-img{
  width: 210px;
  height: 210px;
  border-radius: 0.5rem;
}

.box-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.box h2{
  margin-top: 20px;
  font-size: 20px;
}


.box .btn{
  margin-top: 20px;
  border: 2px solid #ebdbc8;
  color:#ebdbc8 ;
}

.box .btn:hover{
background: #ebdbc8;
color: var(--second-color);
}

.order{
  margin-bottom: 200px;
  scroll-margin-top: 80px;
  text-align: center;
}

.store{
  background-color: #ebdbc8;
  scroll-margin-top: 50px;
}

.store-container{
  width: 100%;
  min-height:70vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  gap:1rem;
  }

.store-container .store-text{
  flex: 1 1 17rem;
  text-align: center;
}
  
.store-container .store-map{
  flex: 1 1 17rem ;
}

.store-text span{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight:600;
  color: var(--second-color);
}

.store-container h2{
  color: var(--second-color);
  font-size: 25px;
}

.store-container h3{
  margin: 15px;
  color: var(--second-color);
  font-weight: 300;
  font-size: 20px;
}

.store-container .openhour{
  display: flex;
  justify-content:center;
  align-items: center;
  text-align:center;
}

.store-container .openhour h3{
  margin: 15px;
  color: var(--second-color);
  font-weight: 300;
}

#store-status {
  font-size: 1.2rem;
}

.about{
  margin-top: 50px;
  scroll-margin-top: 80px;
}

.about-container{
  margin-top: 5rem;
  width: 100%;
  min-height:50vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  gap:1rem;
  color: var(--second-color)
}

.about-container .about-text{
  flex: 1 1 45%;
}

.about-container .about-img-1 {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
}

.about-container img {
  max-width: 100% ;
  border-radius: 2rem;
}

.about-text h3{
  margin-top:20px;
  margin-right: 20px;
  text-align: center;
  font-size: 20px;
}

.about-text-1 {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.about-text-1 h3{
  margin-top:20px;
  text-align: center;
  align-items: center;
  font-size: 20px;
}

.about-container .about-text-2{
  margin-top:50px;
  flex: 1 1 45%;
}

.about-container .about-img-2 {
  margin-top:50px;
  flex: 1 1 35%;
}

.about-text-2 h3{
  margin-top:20px;
  text-align: center;
  align-items: center;
  font-size: 20px;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeee;
}

.social a{
  font-size: 27px;
  margin: 0.5rem;
}

.social a .bx{
  padding: 5px;
  color: #fff;
  background:#000000 ;
  border-radius: 50%;
}

.social a .bx:hover{
  background: var(--main-color);
}

.links{
  margin: 1rem 0 1rem ;
}

.links a{
  font-size: 1rem;
  font-weight: 500;
  color: var(--second-color);
  padding: 1rem;
}

.links a:hover{
  color: var(--main-color);
}

.contact p{
  text-align: center;
}

.contact img{
  width: 50px;
}

.develope{
  margin-top: 100px;
  color: #C56E33;
}


.QA{
  background-color: #ebdbc8;
  scroll-margin-top: 50px;
}

#info-accordion-root {
  margin: 20px auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.accordion-button {
  color: rgb(101, 101, 101); /* 更改字體顏色 */
}

.accordion-body {
  color: var(--second-color); /* 更改字體顏色 */
  font-size: 15px;
}

.card-img-top{
  width: 50%;
}

.form-header{
  margin-top: 150px;
  text-align: center;

}
