/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style:none ;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color:#C56E33;
  --second-color:#012f2d;
}

section{
  padding:50px 10%;
}

*::selection{
  color:#fff;
  background: var(--main-color);
}

img{
  width:100%;
}

header{
  position: fixed;
  width: 100%;
  top:0;
  z-index:1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:white ;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s ;
}

.logo{
  display: flex;
  align-items:center ;
}

.logo img{
  width: 150px;
}

.navbar{
  display: flex;
}

.navbar a{
  font-size: 1rem;
  padding: 11px 20px;
  color:var(--second-color) ;
  font-weight:600;
  text-transform:uppercase;
}

.navbar a:hover{
  color:var(--main-color)
}

#menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

.home{
  border: 1px solid var(--main-color);
  width: 100%;
  min-height:70vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ebdbc8;
  gap:1rem;
}

.home-line{
  margin: 100px 200px 100px 200px;
  padding: 20px;
  border: 2px solid var(--second-color);
  width: 80%;
  min-height:70vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ebdbc8;
  gap:1rem;
}

.home-text{
  flex: 1 1 17rem;
}

.home-img{
  flex: 1 1 17rem ;
}


.home-text span{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight:600;
  color: var(--second-color);
}

.home-text h1{
  font-size: 2rem;
  color: var(--main-color);
  font-weight: bolder;
}

.home-text h2{
  font-size:1.8rem;
  font-weight: 600;
  color:var(--second-color);
  text-transform: capitalize;
  margin: 0.5rem 0 1.4rem;
}

.btn{
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight:500 ;  
}

.btn:hover{
  color: #fff;
  background: var(--second-color);
}

.heading{
  text-align: center;
  text-transform: uppercase;
}

.heading span{
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}

.heading h1{
  font-size: 2rem;
  color:var(--main-color)
}

.order-container{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  margin-top: 5rem;
}

.order-container .box{
  flex:1 1 10rem;
  background: var(--main-color);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.order-container .box .box-img{
  width: 200px;
  height: 200px;
  border-radius: 0.5rem;
}

.order-container .box .box-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.stars{
  margin: 1rem 0 0.1rem;
}

.order-container .box .stars .bx{
  color: #ebdbc8;
}

.order-container .box .stars .h2{
  color: #ebdbc8;
  font-size:1.2rem ;
}

.order-container .box .stars span{
  color: #ebdbc8;
  font-size:1.4rem ;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem;
}

.box .btn{
  margin-top: 20px;
  border: 2px solid #ebdbc8;
  color:#ebdbc8 ;
}


.box .btn:hover{
background: #ebdbc8;
color: var(--second-color);
}

.order{
  margin-bottom: 200px;
}

.store-container{
  width: 100%;
  min-height:70vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  gap:1rem;
  }

.store-container .store-text{
  flex: 1 1 17rem;
  text-align: center;
}
  
.store-container .store-map{
  flex: 1 1 17rem ;
}

.store-text span{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight:600;
  color: var(--second-color);
}

.store-container h2{
  color: var(--second-color);
}

.store-container h3{
  margin: 15px;
  color: var(--second-color);
  font-weight: 300;
}

.store-container .openhour{
  display: flex;
  justify-content:center;
  align-items: center;
  text-align:center;
}

.store-container .openhour h3{
  margin: 15px;
  color: var(--second-color);
  font-weight: 300;
}

#store-status {
  font-size: 1.2rem;
}

.about-container{
  width: 100%;
  min-height:50vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  gap:1rem;
  color: var(--second-color)
}

.about-container .about-text{
  flex: 1 1 45%;
}

.about-container .about-img-1 {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
}

.about-container .about-img-1 img {
  max-width: 100% ;
  border-radius: 2rem;
}

.about-text h3{
  margin-top:20px;
  margin-right: 20px;
  text-align: center;
}

.about-text-1 {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.about-text-1 h3{
  margin-top:20px;
  text-align: center;
  align-items: center;
}

.about-container .about-text-2{
  margin-top:50px;
  flex: 1 1 45%;
}

.about-container .about-img-2 {
  margin-top:50px;
  flex: 1 1 35%;
}

.about-container .about-img-2 img {
  max-width: 100% ;
  border-radius: 2rem;
}

.about-text-2 h3{
  margin-top:20px;
  text-align: center;
  align-items: center;

}



